/* Main Variables */

$maxwidth: 70rem;

$textcolor: #000;
$ahover: #505050;
$textfade: #a2988a;
$textfootercolor: #828282;

$scl-icn-main-clr: #a2988a;
$scl-icn-sec-clr: #282828;
// #a2988a icon main color
// #282828 icon secundary color
$footermbbgclr: #151515;

$maintextsize: 1.2em;
$excerptsize: 1.2em;
$excerpttitlesize: 1.6em;
$titlesize: 1.8em;

$fontregular: Arial, san-serif;
$fonttitle: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, Arial, sans-serif; // (condenced Bold) Logo Name, Slider text, Widget Title, Title
$fonthelv: Helvetica, san-serif;  // Footer Phone number
$fontserif: Georgia, Times, 'Times New Roman', serif; // Main Quote, Address footer (Italic)


/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition( $val : ease 0.5s ) {
  -webkit-transition: $val;
  -moz-transition:$val;
  -o-transition:$val;
  -ms-transition:$val;
  transition:$val;
}

@mixin text-shadow( $top: 3px, $left: 3px, $blur: 3px , $colour: #333 ) {
  -webkit-text-shadow:$top $left $blur $colour;
  -moz-text-shadow:$top $left $blur $colour;
  -o-text-shadow:$top $left $blur $colour;
  text-shadow:$top $left $blur $colour;
}

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    background-color: #fff;
    font-size: 0.875em;
    line-height: 1.4;
    font-family: $fontregular;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a{
  color: $textcolor;
  text-decoration: none;
  &:hover{
    color: $textfade;
  }
}


/* ==========================================================================
   Custom styles
   ========================================================================== */

  .hide-text {
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
  }

 .logo{
   margin: 0 auto;
   display: block;
   background: url('../img/logo.png') no-repeat;
   width: 227px;
   height: 123px;
   margin-bottom: 30px;
   @extend .hide-text;
 }

  .sliderwrapper{
    position: relative;
  }

 .sliderarrow{
   position: absolute;
   top: 35%;
   font-size: 5em;
   font-weight: 100;
   cursor: pointer;
   @include transition(ease 0.5s)
   img{
     height: 58px;
   }
   &.slideleft{
     left: -50px;
   }
   &.slideright{
     right: -50px;
   }
 }
 .slider{
   overflow: hidden;
   position: relative;
   ul{
     list-style-type: none;
     margin: 0 auto;
     padding: 0;
     width: 1000%;
     @include transition(ease 0.5s)
     li{
       float: left;
       display: block;
       margin: 0;
       padding: 0;
       position: relative;
       img{
         width: 100%;
         max-width: none;

       }
       .desc{
         position: absolute;
         width: 100%;
         top: 25%;
         text-align: center;
         color: #fff;
         font-family: $fonttitle;
         font-size: 2em;
         @include text-shadow(0px, 0px, 3px, #000);
       }
     }
   }

   .sliderdots{
    position: absolute;
    bottom: 5%;
    text-align: center;
    width: 100%;
    .dot{
      background-color: gray;
      width: 10px;
      height: 10px;
      display: inline-block;
      margin: 5px;
      border-radius: 5px;
      &:hover{
        cursor: pointer;
      }
      &.active{
        background-color: #fff;
      }
    }
   }
 }

 article.sticky{
   .row>.column{
     padding-left: 45px;
     padding-top: 68px;
     padding-right: 25px;
     &:first-child{
       padding: 0;
     }
   }
   .category{
     color: $textfade;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 0.75em;
     margin-bottom: 32px;
   }
   .article-date{
     color: $textfade;
     font-size: 0.875em;
   }
   .author{
     font-size: 0.875em;
     .authorname{
       color: $textfade;
     }
   }
   h2{
     margin-top: 0px;
     text-transform: uppercase;
     font-family: $fonttitle;
     font-size: 1.25em;
   }

   hr{
     width: 43px;
     color: $textfade;
   }
   .read-more{
     margin-top: 36px;
     display: block;
     font-weight: bold;
     font-size: 0.75em;
     text-transform: uppercase;
     .fa{
        font-size: 1rem;
        font-weight: bold;
        margin-left: 0.4em;
     }
   }
 }


 q{
   border-top: 1px solid #000;
   border-bottom: 1px solid #000;
   padding: 20px 00px;
   display: block;
   font-size: 1.875em;
   font-family: $fontserif;
   font-style: italic;
   margin-top: 0.8em;
   margin-left: 87px;
   &::after{
     content: "";
   }
   &::before{
     content: "";
   }
 }

 h1{
   font-family: $fonttitle;
   text-transform: uppercase;
 }

 .footer-mainpage{
   background-color: #000;
   color: #fff;
   min-height: 100%;
   &>.phone{
     width: 100%;
     margin: 0 auto;
     text-align: center;
     display: block;
     background-color: #f1eae1;
     padding: 30px 0px;
     color: #000;
     font-size: 2em;
     font-weight: bold;
     font-family: $fonthelv;
     text-indent: 50px;
     &>span{
       position: relative;
       &::before{
          background: url('../img/telephone.png');
          width: 50px;
          height: 50px;
          content: " ";
          position: absolute;
          left: -54px;
          background-size: contain;
          top: -6px;
       }
     }
   }
   &>.row{
     border-bottom: 1px solid #312e2a;
     .column{
     padding: 20px 0px;
     }
   }
   .address{
     color: $textfootercolor;
     font-family: $fontserif;
     font-style: italic;
     strong{
       display: block;
       color: #fff;
       font-family: $fontregular;
       font-size: 0.938em;
       font-style: normal;
       margin-bottom: 20px;
     }
     a{
       color: $textfootercolor;
     }
   }
   .social{
     text-align: center;
     strong{
       display: block;
       text-align: center;
       margin-bottom: 20px;
       font-size: 0.938em;
     }
     .social-button{
       display: inline-block;
       width: 35px;
       height: 35px;
       background-color: $scl-icn-sec-clr;
       color: $scl-icn-main-clr;
       text-align: center;
       vertical-align: middle;
       line-height: 35px;
       font-size: 1.1em;
       @include border-radius(18px);
      &:hover{
        text-decoration:none;
        color: $textcolor;
        background-color: $textfootercolor;
      }
     }
   }
   .language{
       text-align: right;
       font-size: 0.8em;
       img{
         margin-right: 5px;
       }
   }
   .cc{
     margin: 0 auto;
     display: block;
     text-align: center;
     padding-top: 20px;
     font-size: 0.75em;
     padding-bottom: 50px;
     color: $textfootercolor;
   }
 }


/* ==========================================================================
   Grid
   ========================================================================== */

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

img{
  max-width: 100%;
}

.row{
  width: 100%;
  margin: 0 auto;
  max-width: $maxwidth;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.rowgutter{
  padding: 25px 0 25px 25px;
  &.row [class*='col-']:last-of-type{
    padding-right: 25px;
  }
}

.full-width{
  max-width: 100%;
}

[class*='col-']{
  float: left;
  padding-right: 20px;
  .row &:last-of-type{
    padding-right: 0;
  }
}


.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: 33.3%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: $maxwidth) {
  .sliderarrow{
    &.slideleft{
      left: 10px
    }
    &.slideright{
      right: 10px;
    }
  }
}

// Adjust slider arrows position
@media only screen and (max-width: $maxwidth-($maxwidth/2)) {
  .sliderarrow{
    top: 25%;
    &.slideleft img{
      height: 35px;
    }
    &.slideright img{
      height: 35px;
    }
  }
}


@media only screen and (max-width: 30em) {

  [class*='col-']{
    float: left;
    padding-right: 0;
    .row &:last-of-type{
      padding-right: 0;
    }
  }
  .col-1-2{
    width: 100%;
  }

  .col-1-3{
    width: 100%;
  }
  .rowgutter{
    padding: 25px 25px 25px 25px;
  }

  .sliderwrapper{
      display: none;
  }

  article.sticky{
      .row{
        &>.column{
          padding: 25px;
        }
      }
  }

  q{
    margin-left: 0px;
  }

  .footer-mainpage{
    background-color: $footermbbgclr;
    .row{
      border: none;
      .column{
        border-bottom: 1px solid #312e2a;
        padding-bottom: 25px
      }
    }
    &>.phone{
      padding: 50px 0px
    }
    .address{
      text-align: center;
      &>strong{
        margin-bottom: 15px;
      }
      [itemprop="addressRegion"]{
        display: none;
      }
    }
    .language{
      display: none;
    }
  }

  .hidesmall{
    display: none !important;
  }
  .hidelarge{
    display: block !important;
  }
}

@media only screen and (min-width: 30em) {
  .hidelarge{
    display: none !important;
  }
  .hidesmall{
    display: block !important;
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
